/* Добавляю шрифт для всего документа */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

/* Стандартный стили */
* {
  margin: 0;
  box-sizing: border-box;
}

/* Сброс стилей */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Переменные для стилей */
:root {
  --accent-color: #2196f3;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 300;
  background-color: var(--accent-color);
  padding: 20px;
}

.todo {
  width: 450px;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.todo__new {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 22px;
}

.todo__message {
  padding: 8px 16px;
  margin-right: 16px;
  font-size: 18px;
  font-weight: 300;
  height: 50px;
  flex-grow: 1;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #f3f3f3;
  border-radius: 8px;
}

.todo__add {
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 32px;
  font-weight: 200;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: var(--accent-color);
  color: #ffffff;
}

.todo__list {
  margin-bottom: 20px;
}

.todo__task {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  cursor: default;
}

/* Класс для выполненых дел */
.todo__task-complete .todo__task-text {
  text-decoration: line-through;
  color: #b5b5b5;
}

/* При наведении на задачу появляется значок удаления */
.todo__task:hover .todo__task-edit {
  display: block;
}
.todo__task:hover .todo__taks-delete {
  display: block;
}

.todo__task-text {
  cursor: default;
  flex-grow: 1;
  font-size: 20px;
  border: none;
  outline: none;
}

.todo__checkbox {
  margin-right: 16px;
}

.todo__checkbox input {
  display: none;
}

.todo__checkbox input:checked + div {
  background-color: #2196f3;
}

.todo__checkbox input:checked + div::after {
  display: block;
}

.todo__checkbox div {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  position: relative;
}

/* Кастомный чекбокс */
.todo__checkbox div::after {
  content: '\1F5F8';
  position: absolute;
  text-align: center;
  display: none;
  font-weight: 700;
  color: #ffffff;
  /* Растягиваем содержимое чекбокса на всю его область */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.todo__taks-delete {
  display: none;
  cursor: pointer;
  margin-right: 8px;
}

.todo__task-edit {
  width: 24px;
  height: 24px;
  fill: var(--accent-color);
  display: none;
  cursor: pointer;
  margin-right: 8px;
}

.button-container {
  display: flex;
  align-items: center;
}

.delete-all-btn {
  display: none;
  margin-left: auto;
  min-width: 100px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.87;

  color: #ffffff;
  background: red;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 2px 4px;
}

.save__btn {
  display: none;
  min-width: 100px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.87;

  color: #ffffff;
  background: green;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 2px 8px;
}
